<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>ID</key>
			<string>000</string>
			<key>Article name</key>
			<string>Приветствие</string>
			<key>File name</key>
			<string>0.rtf</string>
			<key>Video link</key>
			<string>0</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ID</key>
			<string>001</string>
			<key>Article name</key>
			<string>Упражнение 1</string>
			<key>File name</key>
			<string>1.rtf</string>
			<key>Video link</key>
			<string></string>
		</dict>
		<dict>
			<key>ID</key>
			<string>002</string>
			<key>Article name</key>
			<string>Упражнение 2</string>
			<key>File name</key>
			<string>2.rtf</string>
			<key>Video link</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ID</key>
			<string>003</string>
			<key>Article name</key>
			<string>Упражнение 3</string>
			<key>File name</key>
			<string>3.rtf</string>
			<key>Video link</key>
			<string></string>
		</dict>
		<dict>
			<key>ID</key>
			<string>004</string>
			<key>Article name</key>
			<string>Упражнение 4</string>
			<key>File name</key>
			<string>4.rtf</string>
			<key>Video link</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ID</key>
			<string>008</string>
			<key>Article name</key>
			<string>Упражнение 5</string>
			<key>File name</key>
			<string>5.rtf</string>
			<key>Video link</key>
			<string></string>
		</dict>
		<dict>
			<key>ID</key>
			<string>010</string>
			<key>Article name</key>
			<string>Упражнение 6</string>
			<key>File name</key>
			<string>6.rtf</string>
			<key>Video link</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ID</key>
			<string>099</string>
			<key>Article name</key>
			<string>Упражнение 7</string>
			<key>File name</key>
			<string>7.rtf</string>
			<key>Video link</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ID</key>
			<string>100</string>
			<key>Article name</key>
			<string>О студии</string>
			<key>File name</key>
			<string>500 О студии.rtfd</string>
			<key>Video link</key>
			<string></string>
		</dict>
	</array>
</array>
</plist>
