<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>ID</key>
			<string>000</string>
			<key>Article name</key>
			<string>Приветствие</string>
			<key>File name</key>
			<string>0</string>
			<key>Video link</key>
			<string>0</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ID</key>
			<string>001</string>
			<key>Article name</key>
			<string>Печатная машинка</string>
			<key>File name</key>
			<string>2</string>
			<key>Video link</key>
			<string></string>
		</dict>
		<dict>
			<key>ID</key>
			<string>002</string>
			<key>Article name</key>
			<string>Таблица шульте</string>
			<key>File name</key>
			<string>3</string>
			<key>Video link</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ID</key>
			<string>003</string>
			<key>Article name</key>
			<string>Бабушкин сундук</string>
			<key>File name</key>
			<string>4</string>
			<key>Video link</key>
			<string></string>
		</dict>
		<dict>
			<key>ID</key>
			<string>004</string>
			<key>Article name</key>
			<string>Слова на букву</string>
			<key>File name</key>
			<string>5</string>
			<key>Video link</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ID</key>
			<string>008</string>
			<key>Article name</key>
			<string>Введение</string>
			<key>File name</key>
			<string>7</string>
			<key>Video link</key>
			<string></string>
		</dict>
		<dict>
			<key>ID</key>
			<string>009</string>
			<key>Article name</key>
			<string>Упражнение на свободу 1</string>
			<key>File name</key>
			<string>1</string>
			<key>Video link</key>
			<string></string>
		</dict>
		<dict>
			<key>ID</key>
			<string>010</string>
			<key>Article name</key>
			<string>Упражнение на свободу 2</string>
			<key>File name</key>
			<string>2</string>
			<key>Video link</key>
			<string></string>
		</dict>
	</array>
	<array>
		<dict>
			<key>ID</key>
			<string>005</string>
			<key>Article name</key>
			<string>Пяточок-улыбка</string>
			<key>File name</key>
			<string>6</string>
			<key>Video link</key>
			<string></string>
		</dict>
		<dict>
			<key>ID</key>
			<string>006</string>
			<key>Article name</key>
			<string>Ложечка, трубочка, мешочек</string>
			<key>File name</key>
			<string>1</string>
			<key>Video link</key>
			<string></string>
		</dict>
		<dict>
			<key>ID</key>
			<string>007</string>
			<key>Article name</key>
			<string>Скороговорки</string>
			<key>File name</key>
			<string>2</string>
			<key>Video link</key>
			<string></string>
		</dict>
	</array>
</array>
</plist>
